@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html lang="pt-pt">
<head>

    <meta charset="utf-8" />
    
</head>
<body>
    <div class="text-center">
        <h1>Bem vindo(a) ao Game-Forca</h1>
        <img src="~/forca.png" width="600" style="align-content"/>

        @** <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> **@

       @* <div class="container">
        <div id="imagens">
        </div>

        <div id="encontrar_palavra">
            <div class="letras">A</div>
                <div class="letras">A</div>
                <div class="letras">B</div>
                <div class="letras">D</div>
                <div class="letras">E</div>
                <div class="letras">J</div>

        </div>

        <div id="teclado">
        </div>

        <div id="categoria">
        </div>

        <!--Inicio Modal-->
        
        
        <!--Fim Modal-->

    </div> *@
    </div>
    
 </body>
</html>

